<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Farinas Ilocos Empanada</title>
<link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="CSS/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="CSS/bistro-icons.css">
<link rel="stylesheet" type="text/css" href="CSS/animate.min.css">
<link rel="stylesheet" type="text/css" href="CSS/navigation.css">
<link rel="stylesheet" type="text/css" href="CSS/style_css.css">
<link rel="stylesheet" type="text/css" href="CSS/bistro-icons.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="CSS/franchiseeprod.css" />
<link rel="stylesheet" href="CSS/track.css" />
<link rel="stylesheet" href="css/popups.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="JS/track_order.js" async></script>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

</head>

<body>
<div class="backdrop" id="backdrop"></div>
<!--Header-->
<header id="main-navigation">
  <div id="navigation" data-spy="affix" data-offset-top="20">
    <div class="container">
      <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-collapse-navbar" aria-expanded="false"> 
            <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span> 
            </button>
           <a class="navbar-brand" href="/product-page"><img src="Pictures/Circle Logo.png" alt="logo" class="img-responsive"></a> 
         </div>
        
            <div id="fixed-collapse-navbar" class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li>
                   <a href="/product-page" style="font-family: 'Comfortaa';">Home</a>
                   
                </li>
                
                
                    <li><a href="#" style="font-family: 'Comfortaa';">Tracking</a></li>
                    <li><a href="/franch-change-pw/{{userId}}" style="font-family: 'Comfortaa';">Settings</a></li>
                  
                <li><a href="/logout" style="font-family: 'Comfortaa';">Logout</a></li>
                
              </ul>
            </div>
         </nav>
         </div>
       </div>
     </div>
  </div>
</header>




						

<!-- Products Section-->
<div style="background-color: #f8622121;">
<!-- Products Section-->
<section class="feature_wrap padding-half" id="products">
  <div class="container">
    <div class="row">
     <div class="col-md-12 text-center">
        <h2 class="heading ">PRODUCTS</h2>
        <hr class="heading_space">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 feature text-center">
        <a href="/order-product/Condiments"><i class=""><img style="border-radius: 50%; width:85%;" src="pictures/condiments1.png"></i>
        <h3>Condiments</h3>
        <p>Order Now!</p></a>
      </div>
      <div class="col-md-3 col-sm-6 feature text-center">
        <a href="/order-product/Supplies"><i class=""><img style="border-radius: 50%; width:85%;" src="pictures/cooking_supplies.png"></i>
        <h3>Supplies</h3>
        <p>Order Now!</p></a>
      </div>
      <div class="col-md-3 col-sm-6 feature text-center">
        <a href="/order-product/Pasalubong"><i class=""><img style="border-radius: 50%; width:85%;" src="pictures/pasalubs.jpg"></i>
        <h3>Pasalubong</h3>
        <p>Order Now!</p></a>
      </div>
      <div class="col-md-3 col-sm-6 feature text-center">
        <a href="/order-product/Cooking Supplies"><i class=""><img style="border-radius: 50%; width:85%;" src="pictures/rice.png"></i>
        <h3>Cooking Supplies</h3>
        <p>Order Now!</p></a>
      </div>
      <div class="col-md-3 col-sm-6 feature text-center">
        <a href="/order-product/Market Item"><i class=""><img style="border-radius: 50%; width:85%;" src="pictures/mung.png"></i>
        <h3>Market Item</h3>
        <p>Order Now!</p></a>
      </div>
      <div class="col-md-3 col-sm-6 feature text-center">
        <a href="/order-product/Drinks"><i class=""><img style="border-radius: 50%; width:85%;" src="pictures/drinks2.png"></i>
        <h3>Drinks</h3>
        <p>Order Now!</p></a>
      </div>
      <div class="col-md-3 col-sm-6 feature text-center">
        <a href="/order-product/Frozen Goods"><i class=""><img style="border-radius: 50%; width:85%;" src="pictures/frozen_goods.png"></i>
        <h3>Frozen Goods</h3>
        <p>Order Now!</p></a>
      </div>
      <div class="col-md-3 col-sm-6 feature text-center">
        <a href="/order-product/View All"><i class=""><img style="border-radius: 50%; width:85%;" src="pictures/viewAll.png"></i>
        <h3>View All</h3>
        <p>Order Now!</p></a>
      </div>
    </div>
    
  </div>
</section>
</div>

<div class="container">
        <div class="row" style="margin-top: 5%;">
         <div class="col-md-12 text-center">
            <h2 class="heading ">Track Orders</h2>
            <hr class="heading_space">
          </div>
        </div>
    <!-- row -->
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ORDER ID</th>
                            <th scope="col">BRANCH</th>
                            <th scope="col">PRODUCTS</th>
                            <th scope="col">QTY</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">TOTAL QUANTITY</th>  
                            <th scope="col">TOTAL PRICE</th>                         
                            <th scope="col">DATE ORDERED</th>
                            <th scope="col">DATE CONFIRMED</th>
                            <th scope="col">DATE RECEIVED</th>
                            <th scope="col">STATUS</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                      {{reverse orders}}
                      {{#each orders}}
                        <tr>
                            <th scope="row"><b>{{_id}}</b></th>
                             <th scope="row"><b>{{branch}}</b></th>
                             <td><b>
                              {{#each allItems.totalItems.itemName}}
                                <table>
                                <tr>
                                  <td >{{this}}</td>
                                </tr>
                                </table>
                              {{/each}}
                            </td></b>  
                            <td><b>
                              {{#each cart.items}}
                                <table>
                                <tr>
                                  <td >x {{this.qty}}</td>
                                </tr>
                                </table>
                              {{/each}}
                            </td></b>    
                            <td><b>
                              {{#each cart.items}}
                                <table>
                                <tr>
                                  <td >Php {{decimalFormat this.price}}</td>
                                </tr>
                                </table>
                              {{/each}}
                            </td></b> 
                            <td><b>{{cart.totalQty}}</b></td>
                            <td><b>Php {{decimalFormat cart.totalPrice}}</b></td>  
                            <td><b>{{dateOrderedType}}</b></td>  
                            <td><b>{{dateConfirmedType}}</b></td>    
                          <td><b>{{dateReceivedType}}</b></td>    
                            <td>
                                {{#ifeq status "Pending"}}
                                    <div class="tm-status-circle pending">
                                {{/ifeq}}

                                {{#ifeq status "Confirmed"}}
                                    <div class="tm-status-circle moving">
                                {{/ifeq}}
                                {{#ifeq status "Received"}}
                                    <div class="tm-status-circle moving">
                                {{/ifeq}}
                                {{#ifeq status "Cancelled"}}
                                    <div class="tm-status-circle cancelled">
                                {{/ifeq}}
                                    </div>{{status}}
                              </td>                           
                                      
                          <input type="hidden" class="order_id" id="order_id" name="order_id" value="{{_id}}">
                          {{#ifeq status "Pending"}}
                            <td><button class="cancel_order" id="cancel_order" style="border: none; border-radius: 10px;"><a style="color: red; font-weight:bold;">CANCEL</a></button></td>
                          {{/ifeq}}       
                          {{#ifeq status "Confirmed"}}
                            <td><button class="order_received" id="order_received" style="border: none; border-radius: 10px;"><a  style="color: green; font-weight:bold;">RECEIVED</a></button></td>
                          {{/ifeq}}      
                     {{/each}}                                                                  
                    </tbody>                
                </table>
            </div>
        </div>
    </div>


<!--Footer-->
<footer class="padding-top bg_black">
  <div class="container">
    <div class="row">
      <p>Copyright &copy; 2021 FIE. All Right Reserved</p>
      <ul class="social_icon">
       </ul>
        </div>
      </div>
</footer>

<a href="#" id="back-top"><i class=""><img style="border-radius: 50%; width:65%; padding-bottom: 10px;" src="pictures/arrow.png"></i></a>

<script src="JS/jquery-2.2.3.js" type="text/javascript"></script>
<script src="JS/bootstrap.min.js" type="text/javascript"></script>
<script src="JS/jquery.appear.js"></script>  
<script src="JS/functions.js" type="text/javascript"></script>
<script src="JS/main.js"></script>
</body>
</html>
